/* Add a background image to the container */
.login-container {
    background-image: url('./background.jpeg'); /* Local image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 /* Overlay to simulate the transparency effect */
.login-container .overlay {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 20% transparency */
    z-index: 1; /* Ensure the overlay is in front of the background image */
  }
  
  /* Content (form and buttons) should appear on top of the overlay */
  .login-container .ui.grid {
    z-index: 2; /* Ensures that the form is on top of the overlay */
    position: relative;
  }
  
  .login-header {
    color: white;
  }
  
  .segment {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background for the form */
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
  }

  .signup-button {
    background-color: white;  /* White background */
    color: black;  /* Black text */
    border: 1px solid #007bff;  /* Blue border to match the main color */
    border-radius: 5px;  /* Rounded corners */
    padding: 10px 20px;  /* Padding for a more spacious button */
    cursor: pointer;  /* Pointer cursor on hover */
    transition: background-color 0.3s, border-color 0.3s;  /* Smooth transitions */
}

  .signup-button:hover {
      background-color: #f8f9fa;  /* Light gray background on hover */
      border-color: #0056b3;  /* Darker blue border on hover */
      color: #0056b3;  /* Change text color to blue on hover */
  }
  
  .divider {
    color: #fff;
  }