.truncated-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Set the number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; /* Shows that it's clickable for a popup */
  white-space: normal; /* Ensures multi-line truncation */
}

.date {
    font-size: 0.85em; /* Adjust the font size as needed */
    color: #A9A9A9; /* Sets the color to light gray */
}
